* {
    box-sizing: border-box;
    background-color: #2e2d33;
    height: auto;
    width: 100%;
}
.container{
    color: whitesmoke;
    width: 100%;
    max-width: 100% !important;
    justify-content: center;
    align-items: center;
}
.new-tasks{
    margin: 1rem;
}
.current-tasks{
    color: whitesmoke;
    width: 70%;
    max-width: 100% !important;
}
.card-header{
    background-color: #afaeb6;
    color: black;
    border-bottom: 0.15rem solid black !important;
    display: flex;
    flex-direction: row;
}
.card-title{
    background-color: #afaeb6;
}
.body-container{
    width: 100%;
    text-align: center;
    padding: 1rem;
}
input{
    background-color: #32332d96;
    color: whitesmoke;
    border-radius: 0.3rem;
    width: 70%;
    padding: 0.3rem;
    margin: 0.3rem;
}
::placeholder{
    color: whitesmoke;
}
button{
    background-color: #50c878da;
    color: white;
    border-radius: 0.3rem;
    width: 70%;
    padding: 0.3rem;
    margin: 0.3rem;
}
.card{
    border-radius: 0.2rem !important;
    border: 0.1rem outset black;
    box-shadow: 0.6rem 0.6rem 2rem #4a4a4a;
}